  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
    background-color: #000000;
    display: block;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
    background-color: aqua;
    display: block;
  }